@import url(https://fonts.googleapis.com/css?family=Roboto);

body
{
  background-image: url("./../assets/background.jpeg");
  background-size: cover;
}

/** Style du titre **/
section.title
{
    color: #898989;
   font-size: 30px;
  margin-bottom: 15px;

}

section.title:before
{
  content: "";
  display: inline-block; 
  width: 20px;
  height: 20px;
  background-image: url("./../assets/pokeball.png");
  background-size: 100% 100%;

}

section.title:after
{
  content: "";
  display: inline-block; 
  width: 20px;
  height: 20px;
  background-image: url("./../assets/pokeball.png");
  background-size: 100% 100%;

}


#content
{
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 10px;
  color: #414F4F;
  font-family: Roboto;
  position: relative;
  height: 315px;
  min-width: 550px;
  max-width: 680px;
  width: 100%;
  margin: auto;
  margin-top: 10px;

}

/**
Zone des statistiques
**/
#content #stat
{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

/**
Style des cellules de statistiques
**/
#content div div
{
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  margin-top: 0px;
}

#content div div h2
{
  color: #898989;
  font-size: 18px;
  display: inline-block;
  font-weight: normal;
  width: 150px;
  margin: 0px;
}

#content div div span
{
  display: inline-block;
  text-align: right;
  /*! float: right; */
}




/**
Barre présentant les derniers pokémons
**/
#content #team
{
  clear: both;
  position: relative;
  left: 10px;
  margin-top: 10px;
  text-align:center;
}

/**
Cellule pour un pokemon dans la liste**/
#content #team div
{
  display: inline-block;
  margin: 10px;
  margin-top: 0px;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border: 1px solid #898989;
}


#content #team img
{
  width: 100%;
  height: 100%;
}

#content #team h2
{
  display: none;
}

#content #errors
{
  box-sizing: border-box;
  margin-top: -10px;
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  background-color: rgba(0,0,0,0);
}

#content #errors div
{
  background-color: rgba(0,0,0,0);
}

#content #errors span
{
  background-color: rgba(0,0,0,0);
  float: none;
  text-align: center;

}

#content #errors span:before
{
  content: "Error: ";
  display: inline; 
  font-size: 18px;
  color: #D5888E;
  
}
